.login{
    width: 400px;
    background:white;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 /10%),0 8px 16px rgb(0 0 0/10%);
    border-radius: 8px;
    align-items: center;
    text-align: center;
}
.login > input{
    border-radius: 8px;
    border: 1px solid rgb(26, 24, 24);
    outline: none;
    color: black;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}
.login > .button{
    background-color: aquamarine;
    border: 1px solid aquamarine;
    color: rgb(255, 250, 250);
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}